<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="screen">
    <script src="js/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/datetimepicker.css">
    <title>View</title>
  </head>

  <body>
  <div ng-repeat="item in categories">{{item.name}}</div>

  <div class="filterContent" ng-app="myApp" ng-controller="formCtrl">
    <form name="filterForm">
      <!-- Asset Name -->
      <div class="form-group">
        <label for="assetName">Asset Name</label>
        <input type="text" class="form-control col-sm-12" id="assetName" placeholder="Asset Name" ng-model="filter.assetName">
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control col-sm-12" id="description" placeholder="Description" ng-model="filter.description">
      </div>

      <!-- Create User -->
      <div class="form-group">
        <label for="createUser">Create User</label>
        <input type="text" class="form-control col-sm-12" id="createUser" placeholder="Create User" ng-model="filter.createUser">
      </div>

      <!-- Update User -->
      <div class="form-group">
        <label for="updateUser">Update User</label>
        <input type="text" class="form-control col-sm-12" id="updateUser" placeholder="Update User" ng-model="filter.updateUser">
      </div>

      <!-- Creation Date -->
      <div class="form-group">
        <label for="creationDate">Creation Date</label>
        <div class='input-group date' id='datetimepicker'>

          <input type="text" class="form-control col-sm-12" id="creationDate" ng-model="filter.creationDate"
          value="2012-05-15 21:05" data-date-format="yyyy-mm-dd hh:ii"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

      </div>

      <!-- Last Update -->
      <div class="form-group">
        <label for="lastUpdate">Last Update</label>
        <input type="datetime" class="form-control col-sm-12" id="lastUpdate" placeholder="Last Update" ng-model="filter.lastUpdate">
      </div>

      <!-- File Duration -->
      <div class="form-group">
        <label for="fileDuration">File Duration</label>
        <input type="text" class="form-control col-sm-12" id="fileDuration" placeholder="File Duration" ng-model="filter.fileDuration">
      </div>

      <!-- Real Duration -->
      <div class="form-group">
        <label for="realDuration">Real Duration</label>
        <input type="text" class="form-control col-sm-12" id="realDuration" placeholder="Real Duration" ng-model="filter.realDuration">
      </div>

      <!-- Type -->
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control col-sm-12" id="type" ng-model="filter.type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <!-- Virtual -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="virtual" ng-model="filter.virtual">
        <label class="form-check-label" for="virtual">Virtual</label>
      </div>

      <!-- Archived -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="archived" ng-model="filter.archived">
        <label class="form-check-label" for="archived">Archived</label>
      </div>

      <!-- hasProxy -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="hasProxy" ng-model="filter.hasProxy">
        <label class="form-check-label" for="hasProxy">Has Proxy?</label>
      </div>

    </form>
  </div>
    {{filter}}
    <!-- Requirements -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
