<!doctype html>
<html>
  <head>
    <!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>

    <!-- loadingbar -->
    <script src="../src/loading-bar.js"></script>
    <link href='../src/loading-bar.css' rel='stylesheet' />

    <!-- example app -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="app.js"></script>
    <link href='app.css' rel='stylesheet' />
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="LoadingBarExample" ng-controller="ExampleCtrl">

    <div class="examples" ng-hide="fakeIntro">
      <!-- <h4>Examples:</h4> -->
        <a href="#" class="btn btn-primary btn-lg" ng-click="fetch()">
          <i class="glyphicon glyphicon-play-circle"></i> Real Example 
        </a>
      </div>
    </div>

    <h4 class="loading-text" ng-show="subreddit">Showing 100 results for: </h4>
    <div ng-repeat="post in posts" class="panel panel-default">
      <div class="panel-body media">
        <span class="badge pull-right">{{post.data.score}}</span>
        <div class="pull-left" ng-if="post.data.thumbnail">
          <img class="thumbnail" ng-src="{{post.data.thumbnail}}">
        </div>
        <div class="">
          <div class="">
            <a href="{{post.data.url}}">{{post.data.title}}</a>
            <p class="meta">by {{post.data.author}}</p>
            <p class="meta-comments">{{post.data.num_comments}} comments</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
