<html>
  <head>
    <meta charset='utf-8'>
    <!-- dependancy sources -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>

    <!-- loadingbar -->
    <script src="js/loading-bar.js"></script>
    <link href='css/loading-bar.css' rel='stylesheet' />

    <!-- example app -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/app.js"></script>

    <style>
      li { list-style: none; }
    </style>
  </head>
  <body ng-app="MyApp" ng-controller="MyCtrl">

    <div>
      <button class="btn" ng-click="load()">Load Tweets</button>
    </div>

    <div>
      <ul ng-repeat="tweet in tweets">
        <li>
          <img ng-src="{{tweet.profile_image_url}}" alt=""> &nbsp; {{tweet.from_user}}
          {{tweet.text}}
        </li>
      </ul>
    </div>

  </body>
</html>