<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<title>Home #2</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body>
	<!-- <textarea ng-model="name"></textarea>
	<div></div> -->

	<div ng-init="language='angularjs'">
		Lang : <input type="text" ng-model="language">
		{{language}}
	</div>
</body>
</html>