<!DOCTYPE html>
<html lang="en" ng-app="myLangApp">
<head>
	<meta charset="utf-8">
	<title>Home #4</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body>

	<div ng-controller="languages">
		 Select Lang:
		 <button ng-click="php()">PHP</button>
		 <button ng-click="javascript()">Javascript</button>
		 <button ng-click="cpp()">C++</button>
		 <button ng-click="python()">Python</button>

		 <p>You have selected: {{myLang}} </p>
	</div>

	<script>
		var application = angular.module('myLangApp',[]);
		application.controller('languages',function($scope) {

			$scope.myLang='None';

			$scope.php =function(){
				$scope.myLang = 'PHP';
			};
			$scope.javascript =function(){
				$scope.myLang = 'Javascript';
			};
			$scope.cpp =function(){
				$scope.myLang = 'C++';
			};
			$scope.python =function(){
				$scope.myLang = 'Python';
			};
		});
	</script>

</body>
</html>