<!DOCTYPE html>
<html lang="en" ng-app=""> <!-- ng-* -->
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js">
    </script>
  </head>
  <body>
      <!-- Type your name =
      <input type="text" ng-model="name">
      <div> Hello {{name}} </div>
      <p></p>
      Your name is =  <div ng-bind="name">{{name}}</div>
      <p></p> -->
      <div ng-app="" ng-init="myCol='lightblue'"><textarea ng-model="name", style="background-color: {{myCol}}" contenteditable="true"></textarea></div>
      <div ng-bind="name"></div>

  </body>
</html>
