<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="utf-8">
	<title>Home #3</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body>
	<div ng-init="myLang=[{name: 'PHP',extension:'.php'},
	{name: 'js',extension:'.js'},{name: 'c',extension:'.c'},
	{name: 'c++',extension:'.cpp'}]">

	<p ng-repeat="lang in myLang">
		Name : {{lang.name}}<br>
		Extension : {{lang.extension}}<br>
	</p>

	<p>3rd lang is: {{myLang[2].extension}}</p>
 
	</div>

</body>
</html>