<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home #5</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body ng-app="">
	Currency: <input type="text" ng-model="price"><br>
	Welcome {{price | number }}	
	<script>
		
	</script>

</body>
</html>