@background-color: #bfbfbf;
@text-color: #6c757d;
@modal-border-padding: 10px;

#modalcontent{
  background-color: @background-color;
}

#exampleModalLabel:extend(#mainModalLabel){
  color: @text-color - 50;
}


// #close-button{
//   background-color: @text-color - 50 !important;
// }

#mainModalLabel{
  position: absolute;
  top: 5%; left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
  margin-bottom: 3%;
}

#exampleModalLabel:extend(#mainModalLabel, .modal-header){
  text-align: center !important;
}

.modal-footer{
  border-top-color: @text-color;
  padding: @modal-border-padding;
}

.modal-header{
  border-bottom-color: @text-color;
  padding-left: @modal-border-padding + 6 !important;
  padding: @modal-border-padding;
  height: 59px;
}

#modal-open-button{
  position: absolute;
  top: 5%; left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
}

.bdn-width{
  width: 200px !important;
}

#vertical-buttons{
  position:sticky !important;
  margin-left: 120px;
  margin-right: 50%;
}
