#modalcontent {
  background-color: #bfbfbf;
}
#exampleModalLabel {
  color: #3a434b;
}
#mainModalLabel,
#exampleModalLabel,
#exampleModalLabel {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
  margin-bottom: 3%;
}
#exampleModalLabel {
  text-align: center !important;
}
.modal-footer {
  border-top-color: #6c757d;
  padding: 10px;
}
.modal-header,
#exampleModalLabel {
  border-bottom-color: #6c757d;
  padding-left: 16px !important;
  padding: 10px;
  height: 59px;
}
#modal-open-button {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3%;
}
.bdn-width {
  width: 200px !important;
}
#vertical-buttons {
  position: sticky !important;
  margin-left: 120px;
  margin-right: 50%;
}
