#modalcontent{
  background-color: #bfbfbf;
}
#button{
  position: absolute;
  top: 5%; left: 50%;
  transform: translate(-50%, -50%);
}
#exampleModalLabel{
  color: #404040 ;

}
.bdn-width{
  width: 200px !important;
}

#vertical-buttons{
  position:sticky !important;
  margin-left: 120px;
  margin-right: 50%;
}

#modalbody{
  color: #404040;
}
