<html>
  <head>
    <meta charset='utf-8'>
    <script src='js/nprogress.js'></script>
    <link rel='stylesheet' href='css/nprogress.css'/>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
      li { list-style: none; }
    </style>
  </head>
  <body ng-app="MyApp" ng-controller="MyCtrl">

    <div>
      <button class="btn" ng-click="load()">Load Tweets</button>
    </div>

    <div>
      <ul ng-repeat="tweet in tweets">
        <li>
          <img ng-src="{{tweet.profile_image_url}}" alt=""> &nbsp; {{tweet.from_user}}
          {{tweet.text}}
        </li>
      </ul>
    </div>

  </body>
</html>