<!-- $http service -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home #3-1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-app="mainApp">
	<div ng-controller="people">
		<ul>
			<h3>Names and Ages</h3>
			<li ng-repeat="person in persons">
				{{ person.Name + ":" + person.Age }}
			</li>
		</ul>
	</div>
</body>
</html>