<div ng-controller="loginCtrl" class = "loginForm">
<form action="/" id="myLogin">
	Username: <input type="text" id="username" ng-model="username"><br>
	Password: <input type="password" id="password" ng-model="password"><br>
	<button type="button" ng-click="submit()">Login</button>
</form>
</div>